.container{
    background-image: url("istockphoto-165496890-612x612.jpeg");
    /* width: 50%; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 80vh;
    margin: auto;
    width: 30%;
}