.container{
    background-image: url("istockphoto-165496890-612x612.jpeg");
    /* width: 50%; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 80vh;
    margin: auto;
    width: 30%;
}

#keeps{
    /* margin-top: -45px; */
    /* line-height: 8px; */
    margin-top: -20px;
}
h1{
    font-size: 2em;
}
#lefts{
    margin-top: -30px;
}
#lefts h1{
    /* font-size: 2em; */
    margin-left: 13px;
}
#dispf{
    display: flex;
    margin-left: -20px;
    margin-top: -45px;
}
#Back1{
    line-height: 0px;
    margin-top: -30px;
}
#Back1 h1{
    margin-left: 10px;
}
#Back1 h2{
    margin-left: -18px;
}
.fSec{
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0s;
    /* animation-iteration-count: 3; */
}
@keyframes example {
    0%   {left:-50px; top:0px;}
    100% {left:50px; top:-50px;}
    /* 0%   {left:-100px; top:0px;} */
    /* 100% {left:0px; top:200px;} */
}
.t2Sec{
    position: relative;
    animation-name: t2Sec;
    animation-duration: 4s;
    animation-delay: 4s;
    /* animation-iteration-count: 3; */
}
@keyframes t2Sec {
    0%   {left:-50px; top:0px;}
    100% {left:50px; top:-50px;}
    /* 0%   {left:-100px; top:0px;} */
    /* 100% {left:0px; top:200px;} */
}
.t3Sec{
    position: relative;
    animation-name: t3Sec;
    animation-duration: 4s;
    animation-delay: 8s;
    /* animation-iteration-count: 3; */
}
@keyframes t3Sec {
    0%   {left:-50px; top:0px;}
    100% {left:50px; top:-50px;}
    /* 0%   {left:-100px; top:0px;} */
    /* 100% {left:0px; top:200px;} */
}